# Godot 4+ specific ignores
.godot/
/android/

# Godot addons
addons/
*.kanban

# Godot export templates config
export_presets.cfg

# slf4j loves logging in working dir
logs/

# cli builds
bin/
obj-cli/
.vscode/settings.json

perfview.exe
*.etl
fml.md

# milcygtaniyjbfbd (man i love configuring your gitignore to actually not include your java build files by default)
agent/.gradle
agent/build/
agent/gradle/wrapper/gradle-wrapper.jar
agent/src/main/**/build/
agent/src/test/**/build/
agent/.idea/
agent/*.iws
agent/*.iml
agent/*.ipr
agent/out/
agent/src/main/**/out/
agent/src/test/**/out/
agent/.kotlin
agent/.apt_generated
agent/.classpath
agent/.factorypath
agent/.project
agent/.settings
agent/.springBeans
agent/.sts4-cache
agent/bin/
agent/src/main/**/bin/
agent/src/test/**/bin/
agent/nbproject/private/
agent/nbbuild/
agent/dist/
agent/nbdist/
agent/.nb-gradle/
agent/.vscode/