# Godot 4+ specific ignores
.godot/
/android/

# Godot addons
addons/
*.kanban

# Godot export templates config
export_presets.cfg

# slf4j loves logging in working dir
logs/

# cli builds
bin/
obj-cli/
.vscode/settings.json
